.left {
    flex: 0.5;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid red;
    flex-grow: 1;
}

.main-style {
    display: flex;
}

.right {
    flex: 0.5;
    border: 3px solid red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}