.maximum-profit-in-rupees-card {
    width: inherit;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin: 5px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bolder;
}